@{ Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Đăng nhập"; }

@model VNPT.Data.Models.Membership

<!--<div class="login-box">
    <div class="login-logo">
        
    </div>
    <div class="login-box-body">
        <p class="login-box-msg" style="font-size:16px; font-weight:bold; color:red;">Đăng nhập hệ thống</p>
        <div class="form-group has-feedback">

            <span class="glyphicon glyphicon-phone form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">

            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">-->
                @*<div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> Ghi nhớ thông tin
                        </label>
                    </div>*@
            <!--</div>
            <div class="col-xs-4">
                
            </div>
        </div>
    </div>
</div>-->

<form asp-action="Login" asp-controller="Membership">
    <div class="row">
        <div class="col s12">
            <div class="container">
                <div id="login-page" class="row" style="padding:20px;">
                    <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
                        <div class="row">
                            <div class="input-field col s12" style="margin:0px; margin:auto; text-align:center;">
                                <a title="@VNPT.Data.Helpers.AppGlobal.Title" href="/Home/Index"><img class="img-thumbnail" style="background-color:transparent; border-width:0px; width:30%; height:30%;" src="@VNPT.Data.Helpers.AppGlobal.LogoURLFull" title="@VNPT.Data.Helpers.AppGlobal.Title" alt="@VNPT.Data.Helpers.AppGlobal.Title" /></a>
                            </div>
                        </div>
                        <div class="row margin">
                            <div class="input-field col s12">
                                <i class="material-icons prefix pt-2">person_outline</i>
                                @(Html.TextBoxFor(Model => Model.Phone, new { placeholder = "Tài khoản", @class = "form-control" }))
                                <label for="username" class="center-align">Tài khoản</label>
                            </div>
                        </div>
                        <div class="row margin">
                            <div class="input-field col s12">
                                <i class="material-icons prefix pt-2">lock_outline</i>
                                @(Html.TextBoxFor(Model => Model.Password, new { placeholder = "Mật khẩu", @class = "form-control", @type = "password" }))
                                <label for="password">Mật khẩu</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button type="submit" class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12">Đăng nhập</button>                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>