@{ Layout = "~/Views/Shared/_LayoutByNhanVien.cshtml"; ViewData["Title"] = Model.FullName + " - Thông tin nhân viên"; }

@model VNPT.Data.Models.Membership

<form asp-action="SaveEmployee" asp-controller="Membership">
    @Html.HiddenFor(Model => Model.ID)
    @Html.HiddenFor(Model => Model.ParentID)
    @Html.HiddenFor(Model => Model.Image)
    @Html.HiddenFor(Model => Model.GUICode)
    <div class="row">
        <div class="col s12">
            <div class="card card-tabs">
                <div class="card-content">
                    <div class="card-title">
                        <div class="row">
                            <div class="col s12 m6 l6">
                            </div>
                            <div class="col s12 m6 l6">
                                <ul class="tabs">
                                    <li class="tab col s3">
                                    </li>
                                    <li class="tab col s3">

                                    </li>
                                    <li class="tab col s3">
                                    </li>
                                    <li class="tab col s3">
                                        <button type="submit" title="Save" style="height:46px; padding-top:6px; color:#ffffff;" class="waves-effect waves-light btn gradient-45deg-light-blue-cyan z-depth-1 border-round">
                                            <i class="material-icons">save</i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <div class='form-group'>
                                <label for='FullName'>Nhân viên</label>
                                @(Html.TextBoxFor(Model => Model.FullName, new { placeholder = "Nhân viên", @class = "form-control" }))
                            </div>

                            <div class='form-group'>
                                <label for='Email'>Email</label>
                                @(Html.TextBoxFor(Model => Model.Email, new { placeholder = "Email", @class = "form-control" }))
                            </div>
                            <div class='form-group'>
                                <label for='Address'>Địa chỉ</label>
                                @(Html.TextBoxFor(Model => Model.Address, new { placeholder = "Địa chỉ", @class = "form-control" }))
                            </div>
                            <div class='form-group'>
                                <label for='Phone'>Điện thoại (Tài khoản)</label>
                                @(Html.TextBoxFor(Model => Model.Phone, new { placeholder = "Điện thoại (Tài khoản)", @class = "form-control" }))
                            </div>
                            <div class='form-group'>
                                <label for='Password'>Mật khẩu</label>
                                @(Html.TextBoxFor(Model => Model.Password, new { placeholder = "Mật khẩu", @class = "form-control", @type="password" }))
                            </div>
                        </div>
                        <div class="col s12 m6 l6">
                            <div class='form-group'>
                                <label for='Image'>Hình đại diện</label>
                                @(Html.Kendo().Upload()
                              .Name("Upload")
                              .HtmlAttributes(new { @class = "form-control" })
                                )
                                <br />
                                <img src="@Url.Content("/images/Membership/" + Model.Image)" title="@Url.Content(Model.Image)" alt="@Url.Content(Model.Image)" class="responsive-img" style="width:50%; height:50%;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@(Html.Kendo().Notification()
    .Name("Notification")
    .Position(p => p.Pinned(true).Top(30).Right(30))
    .Width(400)
)
<script>
    function onSearch() {
        var IDValue = $("#Customer").data("kendoDropDownList").value();
        var url = "/Membership/EmployeeDetail?ID=" + IDValue;
        window.location.replace(url);
    }
</script>