
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - @VNPT.Data.Helpers.AppGlobal.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="@VNPT.Data.Helpers.AppGlobal.Title">
    <meta name="keywords" content="@VNPT.Data.Helpers.AppGlobal.Title">
    <meta name="author" content="@VNPT.Data.Helpers.AppGlobal.Title">
    <link rel="apple-touch-icon" href="@VNPT.Data.Helpers.AppGlobal.LogoURLFull">
    <link rel="shortcut icon" type="image/x-icon" href="@VNPT.Data.Helpers.AppGlobal.LogoURLFull">

    <link rel="stylesheet" href="/AdminLTE_3_0_5/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/AdminLTE_3_0_5/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/css/site001.css">
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.aspnetmvc.min.js"></script>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <script>
        function BeginRequestHandler() {
            Slider();
        }
        function EndRequestHandler() {
            $('#Dim').css("display", "none");
            $('#BackGround').fadeTo("fast", 2);
        }
        function Slider() {
            $('#Dim').css("display", "");
            $('#Dim').css("z-index", "10");
            $('#Dim').css("position", "absolute");
            $('#Dim').css("top", ($(window).height() - $('#Dim').height()) / 2 + $(window).scrollTop() + "px");
            $('#Dim').css("left", ($(window).width() - $('#Dim').width()) / 2 + $(window).scrollLeft() + "px");
            $('#BackGround').fadeTo("fast", 0.5);
            $('#Dim').focus();
        }
        function OpenWindowByURL(URLParamater, w = 100, h = 200) {
            var width01 = screen.width - w;
            var height01 = screen.height - h;
            var left = (screen.width - width01) / 2;
            var top = (screen.height - height01) / 3;
            var url = URLParamater;
            window.open(url, '_blank', 'location=yes,height=' + height01 + ',width=' + width01 + ',scrollbars=yes,status=yes,toolbar=yes,top=' + top + ',left=' + left + '');
        }</script>
</head>
<body id="BackGround" class="hold-transition sidebar-mini">
    <div id="Dim" style="display: none;">
        <div class="msgbox">
            <img src="@VNPT.Data.Helpers.AppGlobal.LoadingURLFull" alt="Processing, please wait!"
                 title="Processing, please wait!" width="200px" height="200px" />
        </div>
    </div>

    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
            </ul>
        </nav>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="@VNPT.Data.Helpers.AppGlobal.Domain" class="brand-link" title="CRM">
                <img src="@VNPT.Data.Helpers.AppGlobal.LogoURLFull"
                     alt="CRM" title="CRM"
                     class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">CRM</span>
            </a>
            <div class="sidebar">

                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-headset"></i>
                                <p>
                                    Phiếu yêu cầu
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/PhieuYeuCau/DanhSachByNhanVienID" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Danh sách</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user-tie"></i>
                                <p>
                                    Nhân viên
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Membership/EmployeeDetail" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Đổi mật khẩu</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="content-wrapper">
            <section class="content" style="padding-top:10px;">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
        </div>

    </div>

    <script src="/AdminLTE_3_0_5/dist/js/adminlte.min.js"></script>

    <script src="/AdminLTE_3_0_5/dist/js/demo.js"></script>
    <script src="/js/site.js"></script>
    <script>
        function setMenuLeftActive() {
            var tag = $('a[href="' + this.location.pathname + '"]');
            tag.addClass('active');
            var tag01 = tag.parent('li').parent('ul').parent('li');
            tag01.addClass('menu-open');
            var tag02 = tag01.children('a');
            tag02.addClass('active');
        }
        jQuery(function ($) {
            setMenuLeftActive();
        });</script>

</body>
</html>