@{ ViewData["Title"] = Model.TieuDe + " - Chi tiết"; }

@model VNPT.Data.Models.PhieuYeuCau
<form method="post" enctype="multipart/form-data" asp-action="SavePhieuYeuCau" asp-controller="PhieuYeuCau">
    @Html.HiddenFor(Model => Model.ID)
    <div class="row">
        <div class="col s12">
            <div class="card card-tabs">
                <div class="card-content">
                    <div class="card-title">
                        <div class="row">
                            <div class="col s12 m6 l6">
                            </div>
                            <div class="col s12 m6 l6">
                                <ul class="tabs">
                                    <li class="tab col s3">
                                        <a href="/PhieuYeuCau/DanhSach" style="height:46px; padding-top:6px; color:#ffffff;" class="waves-effect waves-light btn gradient-45deg-amber-amber z-depth-1 border-round"><i class="material-icons">keyboard_backspace</i></a>
                                    </li>
                                    <li class="tab col s3">
                                        <button type="submit" title="Save" style="height:46px; padding-top:6px; color:#ffffff;" class="waves-effect waves-light btn gradient-45deg-light-blue-cyan z-depth-1 border-round">
                                            <i class="material-icons">save</i>
                                        </button>
                                    </li>
                                    <li class="tab col s3">
                                        <a target="_blank" href="/PhieuYeuCau/Info?ID=@Model.ID" style="height:46px; padding-top:6px; color:#ffffff;" class="waves-effect waves-light btn gradient-45deg-green-teal z-depth-1 border-round"><i class="material-icons">open_in_new</i></a>
                                    </li>
                                    <li class="tab col s3">
                                        <a href="/PhieuYeuCau/Detail?ID=0" style="height:46px; padding-top:6px; color:#ffffff;" class="waves-effect waves-light btn gradient-45deg-green-teal z-depth-1 border-round"><i class="material-icons">add</i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <div class='form-group'>
                                <label for='TieuDe'>Phiếu yêu cầu</label>
                                @(Html.TextBoxFor(Model => Model.TieuDe, new { placeholder = "Phiếu yêu cầu", @class = "form-control" }))
                            </div>
                            <div class='form-group'>
                                <label for='NguoiTao'>Người tạo</label>
                                @(Html.TextBoxFor(Model => Model.NguoiTao, new { placeholder = "Người tạo", @class = "form-control" }))
                            </div>
                            <div class='form-group'>
                                <label for='DienThoai'>Điện thoại</label>
                                @(Html.TextBoxFor(Model => Model.DienThoai, new { placeholder = "Điện thoại", @class = "form-control" }))
                            </div>
                            <div class='form-group'>
                                <label for='TaxCode'>Mã số thuế</label>
                                @(Html.TextBoxFor(Model => Model.TaxCode, new { placeholder = "Mã số thuế", @class = "form-control" }))
                            </div>

                            <div class='form-group'>
                                <label for='DaGui'>Trạng thái</label>
                                <br />
                                @(Html.CheckBoxFor(Model => Model.DaGui.Value, new { placeholder = "Đã gửi" }))
                                <span>Đã gửi</span>
                                @(Html.CheckBoxFor(Model => Model.DangXuLy.Value, new { placeholder = "Đang xử lý" }))
                                <span>Đang xử lý</span>
                                @(Html.CheckBoxFor(Model => Model.HoanThanh.Value, new { placeholder = "Hoàn thành" }))
                                <span>Hoàn thành</span>
                            </div>
                        </div>
                        <div class="col s12 m6 l6">
                            <div class='form-group'>
                                <label for='ProductID'>Dịch vụ</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.ProductID)
                                   .DataValueField("ID")
                                   .DataTextField("Title")
                                   .HtmlAttributes(new {@class = "form-control", @style = "height:50px;" })
                                    .Filter(FilterType.Contains)
                                   .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetProductToList", "Config")))
                                    )
                            </div>
                            <div class='form-group'>
                                <label for='NguoiNhanID'>Người nhận</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.NguoiNhanID)
                                   .DataValueField("ID")
                                   .DataTextField("FullName")
                                   .HtmlAttributes(new {@class = "form-control", @style = "height:50px;" })
                                    .Filter(FilterType.Contains)
                                   .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetNhanVienToList", "Membership")))
                                    )
                            </div>
                            <div class='form-group'>
                                <label for='KhachHangID'>Khách hàng</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.KhachHangID)
                                   .DataValueField("ID")
                                   .DataTextField("FullName")
                                   .HtmlAttributes(new {@class = "form-control", @style = "height:50px;" })
                                    .Filter(FilterType.Contains)
                                   .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetMembershipDataTransferKhachHangToList", "Membership")))
                                    )
                            </div>
                            <div class='form-group'>
                                <label for='Upload'>Upload file đính kèm</label>
                                @(Html.Kendo().Upload()
                              .Name("Upload")
                              .HtmlAttributes(new { @class = "form-control" })
                                )
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class='form-group'>
                                <label for='Data'>File đính kèm</label>
                                <div id="Data"></div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col s12 m12 l12">
                            @Html.TextAreaFor(Model => Model.NoiDung)

                            <script src="/ckeditor/ckeditor.js"></script>
                            <script src="/ckeditor/adapters/jquery.js"></script>
                            <script>
                                CKEDITOR.replace("NoiDung", {
                                    on: {
                                        'instanceReady': function (evt) {
                                            evt.editor.resize("100%", "300");
                                        }
                                    }
                                });</script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@(Html.Kendo().Notification()
    .Name("Notification")
    .Position(p => p.Pinned(true).Top(30).Right(30))
    .Width(400)
)

<script>
    $(document).ready(() => {
        onGetDinhKemByIDToListToJSON();
    });
    function onGetDinhKemByIDToListToJSON() {
        $("#Data").html('');
        var IDValue = $("#ID").val();
         $.ajax({
            type: 'GET',
            url: "@Url.Action("GetDinhKemByPhieuYeuCauIDToListJSON", "PhieuYeuCau")",
            data: {
                ID: IDValue,
            },
             success: function (list) {
                 var html = '';
                 for (var index in list) {
                     $(list[index]).each(function (iRec, item) {
                         html = html + '<a target="_blank" href="' + item.URL + '" title="' + item.URL + '">' + item.Title + '</a> | ';
                    });
                }
                html = $.parseHTML(html);
                 $("#Data").append(html);
            }
        }).done(() => {
        });
    }
</script>
