@{ ViewData["Title"] = Model.Title + " - Chi tiết"; }

@model VNPT.Data.Models.Product

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-body">
                <form asp-action="Save" asp-controller="Product">
                    @Html.HiddenFor(Model => Model.ID)
                    <div class="row">
                        <div class='col-md-8'>
                        </div>
                        <div class='col-md-1'>
                            <button style="width:100%;" type="submit" title="Lưu thay đổi" class="btn btn-primary">
                                <span class="fas fa-save"></span>
                            </button>
                        </div>
                        <div class='col-md-1'>
                            <a asp-route-ID="@Model.ID" asp-action="DetailFiles" asp-controller="Product" title="Files" style="width:100%;" class="btn btn-success">
                                <span class="fas fa-paperclip"></span>
                            </a>
                        </div>
                        <div class='col-md-1'>
                            <a asp-route-ID="0" asp-action="Detail" asp-controller="Product" title="Tạo mới" style="width:100%;" class="btn btn-success">
                                <span class="fas fa-plus"></span>
                            </a>
                        </div>
                        <div class='col-md-1'>
                            <a asp-action="DanhSach" asp-controller="Product" title="Phiếu yêu cầu" style="width:100%;" class="btn btn-info">
                                <span class="fas fa-arrow-left"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class='form-group'>
                                <label for='Title'>Tiêu đề</label>
                                @(Html.TextBoxFor(Model => Model.Title, new { placeholder = "Tiêu đề", @class = "form-control" }))
                            </div>
                            <div class='form-group'>
                                <label for='MetaTitle'>URL (Tự động)</label>
                                @(Html.TextBoxFor(Model => Model.MetaTitle, new { placeholder = "URL (Tự động)", @class = "form-control" }))
                            </div>
                            <div class='form-group'>
                                <label for='Description'>Mô tả</label>
                                @(Html.TextBoxFor(Model => Model.Description, new { placeholder = "Mô tả", @class = "form-control" }))
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class='form-group'>
                                <label for='ParentID'>Loại bài viết</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.ParentID)
                                   .DataValueField("ID")
                                   .DataTextField("Title")
                                   .HtmlAttributes(new {@class = "form-control" })
                                    .Filter(FilterType.Contains)
                                   .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetLoaiBaiVietToList", "Config")))
                                    )
                            </div>
                            <div class='form-group'>
                                <label for='Upload'>Hình ảnh đại diện</label>
                                @(Html.Kendo().Upload()
                              .Name("Upload")
                              .HtmlAttributes(new { @class = "form-control" })
                                )
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-12" style="width:100%;">
                            @Html.TextAreaFor(Model => Model.ContentMain)
                            <script src="/ckeditor/ckeditor.js"></script>
                            <script src="/ckeditor/adapters/jquery.js"></script>
                            <script>
                                CKEDITOR.replace("ContentMain", {
                                    on: {
                                        'instanceReady': function (evt) {
                                            evt.editor.resize("100%", "800");
                                        }
                                    }
                                });</script>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>


@(Html.Kendo().Notification()
    .Name("Notification")
    .Position(p => p.Pinned(true).Top(30).Right(30))
    .Width(400)
)

<script>

</script>
